name: lint

on:
  push:
  pull_request:


jobs:
  black:
    name: black
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: psf/black@stable

  isort:
    name: isort
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: isort/isort-action@master

  autoflake:
    name: autoflake
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: creyD/autoflake_action@master
        with:
          options: --check --remove-all-unused-imports --recursive --exclude '__init__.py'
